$bg-color: #0f1320;
$gradient-text-color: linear-gradient(0deg, #2b3087 0%, #00b4ec 81.99%),
  linear-gradient(0deg, #ffd100, #ffd100);
$bg-card-holders-creators: #171b29;
$bg-step: #171b29;

$green-title: #22a75d;
$green-title-shadow: #22a75d40;
$blue-title: #2278d4;
$blue-title-shadow: #2278d440;
$yellow-title: #ffd100;
$yellow-title-shadow: #ffd10040;
$red-title: #e20613;
$red-title-shadow: #e2061340;

$white-text: #f7f5f9;
$white: #ffffff;
$gray: #dde2ff;
$gray-text: #9fa1a6;
$text-phases: #191b21;
