* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #0f1320;
  font-family: "Century Gothic", sans-serif;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
}
header a {
  text-decoration: none;
}
header a,
header button {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: bold;
}
header .auth-area {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}
header .menu-toggle {
  display: flex;
  position: absolute;
  top: 8%;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #171b29;
  padding: 1rem 0;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}
header .menu-toggle a {
  padding: 1.5rem 4rem;
  min-width: 100%;
}
header .menu-toggle a:not(:nth-child(4)) {
  border-bottom: 0.2px solid #dde2ff;
}
header .auth-area,
header .menu-toggle {
  display: none;
}
header .container-nav {
  display: flex;
  align-items: center;
  gap: 4.875rem;
  padding: 1rem;
}
header .container-nav .main-menu {
  list-style: none;
  display: none;
  gap: 1.875rem;
}
header .hamburger-menu {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}
header .hamburger-menu span {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
main .who-area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2.375rem;
  gap: 1.25rem;
}
main .who-area .text-info {
  flex: 1;
  padding: 0 1.25rem;
}
main .who-area .text-info .gradient-text {
  font-weight: bold;
  background: linear-gradient(0deg, #2b3087 0%, #00b4ec 81.99%), linear-gradient(0deg, #ffd100, #ffd100);
  text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 0.625rem;
}
main .who-area .text-info h3 {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  padding-bottom: 1.875rem;
  text-align: left;
}
main .who-area .text-info .text-opacity {
  color: #dde2ff;
  opacity: 0.6;
  padding-bottom: 2.5rem;
}
main .who-area .text-info .learn-more {
  background-color: #22a75d;
  border: none;
  width: 9.1875rem;
  height: 3rem;
  border-radius: 52px;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 0px 15px 25px 0px rgba(34, 167, 93, 0.2509803922);
}
main .who-area .phone-area {
  flex: 1.5;
  background: url(../assets/phone.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 20rem;
  min-height: 20rem;
  text-align: left;
}
main .creators-holders-area {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  padding: 1.25rem;
  margin-bottom: 3.75rem;
}
main .creators-holders-area .holders {
  position: relative;
}
main .creators-holders-area .content {
  flex: 1;
  background-color: #171b29;
  padding: 3.75rem 4.5rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
main .creators-holders-area .content .title-content {
  font-size: 2.25rem;
  font-weight: bold;
  color: #ffffff;
}
main .creators-holders-area .content .title-content .link-content {
  text-decoration: underline;
}
main .creators-holders-area .content .text {
  opacity: 0.5;
  color: #ffffff;
  padding-bottom: 3rem;
}
main .creators-holders-area .content .link {
  display: flex;
  gap: 0.375rem;
}
main .creators-holders-area .content .crown {
  background-color: #22a75d;
  box-shadow: 0px 15px 25px 0px rgba(34, 167, 93, 0.2509803922);
  margin-top: 3.75rem;
}
main .creators-holders-area .content .star {
  background-color: #2278d4;
  box-shadow: 0px 15px 25px 0px rgba(34, 120, 212, 0.2509803922);
}
main .creators-holders-area .content .circle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
main .difference-area {
  display: flex;
  flex-direction: column;
}
main .difference-area .triangle {
  flex: 1;
}
main .difference-area .triangle img {
  height: 100%;
  width: 100%;
}
main .difference-area .text-difference {
  flex: 1;
  background-color: #ffffff;
  border-top-right-radius: 150px;
  width: 100%;
  padding: 4.375rem 1.25rem;
}
main .difference-area .text-difference .bg-transparent {
  display: none;
}
main .difference-area .text-difference .title,
main .difference-area .text-difference .small {
  padding-bottom: 1.875rem;
}
main .difference-area .text-difference .light {
  padding-top: 1.25rem;
}
main .difference-area .text-difference .title,
main .difference-area .text-difference .small,
main .difference-area .text-difference .light {
  color: #0f1320;
}
main .difference-area .text-difference .title {
  font-size: 2.25rem;
  font-weight: bold;
}
main .difference-area .text-difference .small,
main .difference-area .text-difference .light {
  font-size: 0.875rem;
}
main .difference-area .text-difference .small {
  font-weight: bold;
}
main .difference-area .text-difference .light {
  opacity: 0.6;
}
main .details-area {
  display: flex;
  flex-wrap: wrap;
  padding-top: 4.375rem;
}
main .details-area .features {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2.5rem;
}
main .details-area .features .feature {
  padding-left: 1.25rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
main .details-area .features .feature .title-feature {
  display: flex;
  font-size: 1.625rem;
  font-weight: bold;
  margin-bottom: 1.875rem;
}
main .details-area .features .feature .title-feature .year {
  color: #ffffff;
  align-self: flex-end;
}
main .details-area .features .feature .title-feature .green-question {
  background-color: #22a75d;
  box-shadow: 0px 15px 25px 0px rgba(34, 167, 93, 0.2509803922);
}
main .details-area .features .feature .title-feature .green-question::after {
  background-color: #22a75d;
}
main .details-area .features .feature .title-feature .blue-question {
  background-color: #2278d4;
  box-shadow: 0px 15px 25px 0px rgba(34, 120, 212, 0.2509803922);
}
main .details-area .features .feature .title-feature .blue-question::after {
  background-color: #2278d4;
}
main .details-area .features .feature .title-feature .yellow-question {
  background-color: #ffd100;
  box-shadow: 0px 15px 25px 0px rgba(255, 209, 0, 0.2509803922);
}
main .details-area .features .feature .title-feature .yellow-question::after {
  background-color: #ffd100;
}
main .details-area .features .feature .title-feature .red-question {
  background-color: #e20613;
  box-shadow: 0px 15px 25px 0px rgba(226, 6, 19, 0.2509803922);
}
main .details-area .features .feature .title-feature .red-question::after {
  background-color: #e20613;
}
main .details-area .features .feature .questions {
  list-style: decimal-leading-zero;
  padding-left: 1.25rem;
  color: #ffffff;
  opacity: 0.7;
}
main .details-area .features .feature .questions .item-question {
  margin-bottom: 1rem;
}
main .details-area .features .feature .questions ::marker {
  font-weight: bold;
}
main .details-area .features .feature .green-li ::marker {
  color: #22a75d;
}
main .details-area .features .feature .blue-li ::marker {
  color: #2278d4;
}
main .details-area .features .feature .yellow-li ::marker {
  color: #ffd100;
}
main .details-area .features .feature .red-li ::marker {
  color: #e20613;
}
main .details-area .about-tokner {
  display: flex;
  color: #ffffff;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  margin-top: 4.375rem;
}
main .details-area .about-tokner .tokner-details .title-logo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 4.375rem;
}
main .details-area .about-tokner .tokner-details .title-logo .logo-tokner {
  display: none;
}
main .details-area .about-tokner .tokner-details .title-logo .logo-weentar {
  width: 58px;
  height: 34px;
}
main .details-area .about-tokner .tokner-details .title-logo .title-small {
  display: none;
  font-size: 3rem;
  font-weight: bold;
}
main .details-area .about-tokner .tokner-details .title-logo .title-weentar {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1.875rem;
}
main .details-area .about-tokner .tokner-details .citation {
  color: #9fa1a6;
  font-style: italic;
}
main .details-area .about-tokner .tokner-details .citation .yellow {
  color: #ffd100;
  margin-left: 0.875rem;
}
main .details-area .about-tokner .tokner-details .citation .bold {
  font-weight: bold;
}
main .details-area .about-tokner .tokner-details .light-text {
  opacity: 0.6;
}
main .details-area .about-tokner .phone-woman {
  padding: 1.25rem;
}
main .details-area .about-tokner .phone-woman img {
  width: 100%;
}
main .phases-area {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 9.1875rem;
}
main .phases-area .triangles {
  position: absolute;
  z-index: -5;
  width: 100%;
  height: 120%;
}
main .phases-area .scroll-area .phase-details .center {
  text-align: center;
}
main .phases-area .scroll-area .phase-details .title-details {
  color: #ffffff;
  font-weight: bold;
  font-size: 2.25rem;
  margin-bottom: 1.0625rem;
}
main .phases-area .scroll-area .phase-details .all-phases {
  display: flex;
  padding: 0 1.25rem;
  overflow: hidden;
  gap: 1.25rem;
}
main .phases-area .scroll-area .phase-details .all-phases::-webkit-scrollbar {
  display: none;
}
main .phases-area .scroll-area .phase-details .all-phases .phase {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  position: relative;
  padding: 4rem 8rem;
  width: 19rem;
  height: 27rem;
  align-items: center;
  margin: 0 auto;
}
main .phases-area .scroll-area .phase-details .all-phases .phase .up-area {
  margin-top: 1.75rem;
  display: flex;
  flex-direction: column;
  width: 390%;
  text-align: center;
}
main .phases-area .scroll-area .phase-details .all-phases .phase .up-area .title-phase {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 0.25rem;
}
main .phases-area .scroll-area .phase-details .all-phases .phase .up-area .phase-number {
  position: absolute;
  top: 52px;
  left: 50px;
  width: 70%;
  z-index: 5;
}
main .phases-area .scroll-area .phase-details .all-phases .phase .down-area {
  padding-top: 2.25rem;
  width: 350%;
}
main .phases-area .scroll-area .phase-details .all-phases .phase .ellipse {
  width: 82px;
  height: 82px;
  margin: 0 auto;
  font-weight: bold;
}
main .phases-area .scroll-area .phase-details .all-phases .phase .green-number {
  background-color: #22a75d;
}
main .phases-area .scroll-area .phase-details .all-phases .phase .blue-number {
  background-color: #2278d4;
}
main .phases-area .scroll-area .phase-details .all-phases .phase .yellow-number {
  background-color: #ffd100;
}
main .phases-area .scroll-area .phase-details .all-phases #phase-02 {
  display: none;
}
main .phases-area .scroll-area .phase-details .all-phases #phase-03 {
  display: none;
}
main .phases-area .scroll-area .buttons-scroll {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
main .phases-area .scroll-area .buttons-scroll .btn-scroll {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
main .phases-area .scroll-area .buttons-scroll #btn-1 {
  padding: 0.5rem;
}
main .buy-area {
  margin-top: 3.9375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .buy-area .title-buy {
  color: #ffffff;
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}
main .buy-area .steps {
  display: flex;
  gap: 0.625rem;
  flex-direction: column;
  margin: 0 1.25rem;
}
main .buy-area .steps .step {
  padding-left: 1.875rem;
  font-weight: bold;
  background-color: #171b29;
  width: 100%;
  height: 13.5rem;
  border-radius: 25px;
  position: relative;
}
main .buy-area .steps .step .step-number {
  color: #ffffff;
  opacity: 0.3;
  font-size: 0.75rem;
  padding-top: 3.125rem;
  margin-bottom: 1.3125rem;
}
main .buy-area .steps .step .text-step {
  font-size: 1.125rem;
  color: #ffffff;
  font-weight: bold;
}
main .buy-area .steps .step .circle-arrow {
  background-color: #0f1320;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  bottom: -30px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 5;
}
main .buy-area .steps .step .circle-arrow img {
  transform: rotate(0.25turn);
}
main .menu {
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer #ft-logo-tokner {
  width: 60%;
  margin-bottom: 2.0625rem;
  margin-top: 4rem;
}
footer #bg-footer {
  display: none;
}
footer .icons {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.6rem;
}
footer .icons .social-media {
  border: 1.92px solid #ffffff;
  opacity: 0.5;
  padding: 0.925rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .text-footer {
  color: #ffffff;
}
footer .text-footer .logo-oleg {
  display: flex;
  justify-content: center;
  opacity: 0.5;
  gap: 0.25rem;
  margin-top: 0.1875rem;
}

@media screen and (min-width: 64rem) {
  header {
    padding: 1.25rem 3.125rem;
  }
  header .hamburger-menu {
    display: none;
  }
  header .auth-area,
  header .container-nav .main-menu {
    display: flex;
  }
  header .menu-toggle {
    opacity: 0;
  }
  main .who-area {
    gap: 0;
  }
  main .who-area .text-info {
    padding: 0 6.8125rem;
  }
  main .who-area .phone-area {
    min-width: 42rem;
    min-height: 42rem;
  }
  main .creators-holders-area {
    padding: 3.3rem 10.8125rem;
    margin-bottom: 13.375rem;
  }
  main .creators-holders-area .holders {
    top: 5.875rem;
  }
  main .difference-area {
    flex-direction: row;
    height: 30rem;
    overflow: hidden;
  }
  main .difference-area .triangle {
    width: 100%;
    flex: 1.5;
  }
  main .difference-area .triangle img {
    max-height: 30rem;
    height: 100%;
    min-width: 100%;
  }
  main .difference-area .text-difference {
    flex: 1.5;
    position: relative;
    padding-left: 8rem;
    border-top-left-radius: 250px;
    border-top-right-radius: 0;
    height: 100%;
    max-height: 30rem;
  }
  main .difference-area .text-difference .title {
    padding-top: 8rem;
  }
  main .difference-area .text-difference .title,
  main .difference-area .text-difference .small {
    padding-bottom: 1.875rem;
  }
  main .difference-area .text-difference .light {
    padding-top: 1.875rem;
  }
  main .difference-area .text-difference .bg-transparent {
    display: initial;
    position: absolute;
    top: 70px;
    left: 210px;
  }
  main .details-area {
    position: relative;
    border-top-right-radius: 287px;
    background-color: #0f1320;
  }
  main .details-area::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
    width: 278px;
    height: 287px;
    z-index: -5;
  }
  main .details-area .features {
    align-items: flex-start;
    padding: 0 4rem;
  }
  main .details-area .features .feature {
    flex: 1;
  }
  main .details-area .about-tokner {
    flex-direction: row;
    padding: 0 10rem;
    align-items: center;
    gap: 2.5rem;
  }
  main .details-area .about-tokner .tokner-details {
    flex: 1;
  }
  main .details-area .about-tokner .tokner-details .title-logo {
    flex-direction: row;
    align-items: center;
  }
  main .details-area .about-tokner .tokner-details .title-logo .title-small,
  main .details-area .about-tokner .tokner-details .title-logo .logo-tokner {
    display: initial;
  }
  main .details-area .about-tokner .tokner-details .title-logo .title-weentar,
  main .details-area .about-tokner .tokner-details .title-logo .logo-weentar {
    display: none;
  }
  main .details-area .about-tokner .tokner-details .title-logo .logo-tokner {
    width: 52.7px;
    height: 32.87px;
  }
  main .details-area .about-tokner .phone-woman {
    flex: 1;
  }
  main .phases-area {
    position: relative;
  }
  main .phases-area .triangles {
    position: relative;
  }
  main .phases-area .scroll-area .phase-details {
    position: absolute;
    top: 200px;
    text-align: center;
    width: 100%;
  }
  main .phases-area .scroll-area .phase-details .title-details {
    position: relative;
    top: 50px;
  }
  main .phases-area .scroll-area .phase-details .all-phases {
    justify-content: center;
    overflow: visible;
  }
  main .phases-area .scroll-area .phase-details .all-phases::-webkit-scrollbar {
    display: none;
  }
  main .phases-area .scroll-area .phase-details .all-phases .phase {
    flex: 0;
    position: relative;
    width: 31.9375rem;
    height: 36.5625rem;
    top: 40px;
    align-items: center;
  }
  main .phases-area .scroll-area .phase-details .all-phases .phase .up-area {
    width: 200%;
  }
  main .phases-area .scroll-area .phase-details .all-phases .phase .up-area .title-phase {
    margin-bottom: 0.5rem;
  }
  main .phases-area .scroll-area .phase-details .all-phases .phase .down-area {
    margin-top: 4.375rem;
    width: 200%;
  }
  main .phases-area .scroll-area .phase-details .all-phases .phase .down-area .convert {
    margin-bottom: 1.25rem;
  }
  main .phases-area .scroll-area .phase-details .all-phases .phase .ellipse {
    margin-bottom: 3.9375rem;
  }
  main .phases-area .scroll-area .phase-details .all-phases #phase-01,
  main .phases-area .scroll-area .phase-details .all-phases #phase-02,
  main .phases-area .scroll-area .phase-details .all-phases #phase-03 {
    display: flex !important;
  }
  main .phases-area .scroll-area .phase-details .all-phases .down {
    position: relative;
    top: 100px;
  }
  main .phases-area .scroll-area .buttons-scroll {
    display: none;
  }
  main .buy-area {
    margin-top: 13.25rem;
  }
  main .buy-area .steps {
    flex-direction: row;
  }
  main .buy-area .steps .step .text-step {
    width: 70%;
    margin: 0 auto;
    text-align: justify;
  }
  main .buy-area .steps .step .circle-arrow {
    margin: 0;
    right: -30px;
    left: auto;
  }
  main .buy-area .steps .step .circle-arrow img {
    transform: rotate(1turn);
  }
  main .buy-area .steps .step .first-arrow {
    bottom: 50px;
  }
  main .buy-area .steps .step .second-arrow {
    bottom: 90px;
  }
  main .buy-area .steps .step:nth-child(2) {
    top: 2.5rem;
  }
  main .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13.125rem;
    gap: 4.125rem;
  }
  main .menu .item-menu {
    display: flex;
    align-items: center;
    gap: 4.5rem;
  }
  main .menu .item-menu .link-menu,
  main .menu .item-menu .bar {
    color: #ffffff;
  }
  main .menu .item-menu .link-menu {
    text-transform: uppercase;
    font-weight: bold;
  }
  main .menu .item-menu .bar {
    opacity: 0.16;
  }
  footer {
    margin-top: 11.6rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 4rem;
    position: relative;
  }
  footer #bg-footer {
    display: initial;
    position: absolute;
    z-index: -5;
    width: 100%;
    bottom: -85px;
    right: -50px;
    filter: blur(100px);
    transform: matrix(-0.97, 0.26, 0.26, 0.97, 0, 0) rotateY(0.5turn);
  }
  footer #ft-logo-tokner {
    width: 16.9375rem;
    height: 2.0625rem;
  }
  footer .icons,
  footer #ft-logo-tokner {
    margin: 0;
  }
}
@media screen and (min-width: 160rem) {
  main .phases-area .scroll-area .phase-details {
    top: 508px;
  }
}
.green {
  color: #22a75d;
}

.blue {
  color: #2278d4;
}

.btn-border-green {
  border: 2px solid #22a75d;
  padding: 1rem 1.875rem;
  background: none;
  color: #ffffff;
  border-radius: 52px;
  cursor: pointer;
  transition: all 500ms;
}
.btn-border-green:hover {
  opacity: 0.8;
}

.mb-1 {
  margin-bottom: 1.25rem;
}

.mt-1 {
  margin-top: 1.25rem;
}

.ellipse {
  width: 82px;
  height: 82px;
  border-radius: 50% 50% 50% 10px;
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ellipse::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  right: -20px;
  bottom: 30px;
}/*# sourceMappingURL=index.css.map */