@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: $bg-color;
  font-family: "Century Gothic", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
  a {
    text-decoration: none;
  }
  a,
  button {
    color: $white;
    font-size: 0.875rem;
    font-weight: bold;
  }
  .auth-area {
    display: flex;
    align-items: center;
    gap: 1.875rem;
  }
  .menu-toggle {
    display: flex;
    position: absolute;
    top: 8%;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: $bg-step;
    padding: 1rem 0;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    a {
      padding: 1.5rem 4rem;
      min-width: 100%;
      &:not(:nth-child(4)) {
        border-bottom: 0.2px solid $gray;
      }
    }
  }
  .auth-area,
  .menu-toggle {
    display: none;
  }

  .container-nav {
    display: flex;
    align-items: center;
    gap: 4.875rem;
    padding: 1rem;
    .main-menu {
      list-style: none;
      display: none;
      gap: 1.875rem;
    }
  }
  .hamburger-menu {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    span {
      width: 100%;
      height: 2px;
      background-color: $white;
    }
  }
}
main {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .who-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 2.375rem;
    gap: 1.25rem;

    .text-info {
      flex: 1;
      padding: 0 1.25rem;
      .gradient-text {
        font-weight: bold;
        background: $gradient-text-color;
        text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-bottom: 0.625rem;
      }
      h3 {
        font-size: 3rem;
        font-weight: bold;
        color: $white;
        padding-bottom: 1.875rem;
        text-align: left;
      }
      .text-opacity {
        color: $gray;
        opacity: 0.6;
        padding-bottom: 2.5rem;
      }
      .learn-more {
        background-color: $green-title;
        border: none;
        width: 9.1875rem;
        height: 3rem;
        border-radius: 52px;
        color: $white;
        font-weight: bold;
        box-shadow: 0px 15px 25px 0px $green-title-shadow;
      }
    }
    .phone-area {
      flex: 1.5;
      background: url(../assets/phone.png);
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
      min-width: 20rem;
      min-height: 20rem;
      text-align: left;
    }
  }
  .creators-holders-area {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    padding: 1.25rem;
    margin-bottom: 3.75rem;

    .holders {
      position: relative;
    }
    .content {
      flex: 1;
      background-color: $bg-card-holders-creators;
      padding: 3.75rem 4.5rem;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      .title-content {
        font-size: 2.25rem;
        font-weight: bold;
        color: $white;
        .link-content {
          text-decoration: underline;
        }
      }
      .text {
        opacity: 0.5;
        color: $white;
        padding-bottom: 3rem;
      }
      .link {
        display: flex;
        gap: 0.375rem;
      }
      .crown {
        background-color: $green-title;
        box-shadow: 0px 15px 25px 0px $green-title-shadow;
        margin-top: 3.75rem;
      }
      .star {
        background-color: $blue-title;
        box-shadow: 0px 15px 25px 0px $blue-title-shadow;
      }
      .circle-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }
    }
  }
  .difference-area {
    display: flex;
    flex-direction: column;
    .triangle {
      flex: 1;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .text-difference {
      flex: 1;
      background-color: $white;
      border-top-right-radius: 150px;
      width: 100%;
      padding: 4.375rem 1.25rem;
      .bg-transparent {
        display: none;
      }
      .title,
      .small {
        padding-bottom: 1.875rem;
      }
      .light {
        padding-top: 1.25rem;
      }
      .title,
      .small,
      .light {
        color: $bg-color;
      }
      .title {
        font-size: 2.25rem;
        font-weight: bold;
      }
      .small,
      .light {
        font-size: 0.875rem;
      }
      .small {
        font-weight: bold;
      }
      .light {
        opacity: 0.6;
      }
    }
  }
  .details-area {
    display: flex;
    flex-wrap: wrap;
    padding-top: 4.375rem;

    .features {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 2.5rem;

      .feature {
        padding-left: 1.25rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        .title-feature {
          display: flex;
          font-size: 1.625rem;
          font-weight: bold;
          margin-bottom: 1.875rem;

          .year {
            color: $white;
            align-self: flex-end;
          }
          .ellipse {
            width: 82px;
            height: 82px;
            border-radius: 50% 50% 50% 10px;
            padding: 1rem;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            &::after {
              content: "";
              position: absolute;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              right: -20px;
              bottom: 30px;
            }
          }
          .green-question {
            background-color: $green-title;
            box-shadow: 0px 15px 25px 0px $green-title-shadow;
            &::after {
              background-color: $green-title;
            }
          }
          .blue-question {
            background-color: $blue-title;
            box-shadow: 0px 15px 25px 0px $blue-title-shadow;
            &::after {
              background-color: $blue-title;
            }
          }
          .yellow-question {
            background-color: $yellow-title;
            box-shadow: 0px 15px 25px 0px $yellow-title-shadow;
            &::after {
              background-color: $yellow-title;
            }
          }
          .red-question {
            background-color: $red-title;
            box-shadow: 0px 15px 25px 0px $red-title-shadow;
            &::after {
              background-color: $red-title;
            }
          }
        }
        .questions {
          list-style: decimal-leading-zero;
          padding-left: 1.25rem;
          color: $white;
          opacity: 0.7;
          .item-question {
            margin-bottom: 1rem;
          }
          ::marker {
            font-weight: bold;
          }
        }
        .green-li {
          ::marker {
            color: $green-title;
          }
        }
        .blue-li {
          ::marker {
            color: $blue-title;
          }
        }
        .yellow-li {
          ::marker {
            color: $yellow-title;
          }
        }
        .red-li {
          ::marker {
            color: $red-title;
          }
        }
      }
    }

    .about-tokner {
      display: flex;
      color: $white;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      margin-top: 4.375rem;

      .tokner-details {
        .title-logo {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          margin-top: 4.375rem;

          .logo-tokner {
            display: none;
          }
          .logo-weentar {
            width: 58px;
            height: 34px;
          }
          .title-small {
            display: none;
            font-size: 3rem;
            font-weight: bold;
          }
          .title-weentar {
            font-size: 2.25rem;
            font-weight: bold;
            margin-bottom: 1.875rem;
          }
        }
        .citation {
          color: $gray-text;
          font-style: italic;
          .yellow {
            color: $yellow-title;
            margin-left: 0.875rem;
          }
          .bold {
            font-weight: bold;
          }
        }
        .light-text {
          opacity: 0.6;
        }
      }
      .phone-woman {
        padding: 1.25rem;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 64rem) {
  header {
    padding: 1.25rem 3.125rem;
    .hamburger-menu {
      display: none;
    }
    .auth-area,
    .container-nav .main-menu {
      display: flex;
    }
    .menu-toggle {
      opacity: 0;
    }
  }

  main {
    .who-area {
      gap: 0;
      .text-info {
        padding: 0 6.8125rem;
      }
      .phone-area {
        min-width: 42rem;
        min-height: 42rem;
      }
    }
    .creators-holders-area {
      padding: 3.3rem 10.8125rem;
      margin-bottom: 13.375rem;
      .holders {
        top: 5.875rem;
      }
    }
    .difference-area {
      flex-direction: row;
      height: 30rem;
      overflow: hidden;
      .triangle {
        width: 100%;
        flex: 1.5;
        img {
          max-height: 30rem;
          height: 100%;
          min-width: 100%;
        }
      }
      .text-difference {
        flex: 1.5;
        position: relative;
        padding-left: 8rem;
        border-top-left-radius: 250px;
        border-top-right-radius: 0;
        height: 100%;
        max-height: 30rem;

        .title {
          padding-top: 8rem;
        }
        .title,
        .small {
          padding-bottom: 1.875rem;
        }
        .light {
          padding-top: 1.875rem;
        }
        .bg-transparent {
          display: initial;
          position: absolute;
          top: 70px;
          left: 210px;
        }
      }
    }
    .details-area {
      position: relative;
      border-top-right-radius: 287px;
      background-color: $bg-color;

      &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background-color: $white;
        width: 278px;
        height: 287px;
        z-index: -5;
      }
      .features {
        align-items: flex-start;
        padding: 0 4rem;
        .feature {
          flex: 1;
        }
      }
      .about-tokner {
        flex-direction: row;
        padding: 0 10rem;
        align-items: center;
        gap: 2.5rem;

        .tokner-details {
          flex: 1;

          .title-logo {
            flex-direction: row;
            align-items: center;
            .title-small,
            .logo-tokner {
              display: initial;
            }
            .title-weentar,
            .logo-weentar {
              display: none;
            }
            .logo-tokner {
              width: 52.7px;
              height: 32.87px;
            }
          }
        }
        .phone-woman {
          flex: 1;
        }
      }
    }
  }
}

.green {
  color: $green-title;
}
.blue {
  color: $blue-title;
}

.btn-border-green {
  border: 2px solid $green-title;
  padding: 1rem 1.875rem;
  background: none;
  color: $white;
  border-radius: 52px;
  cursor: pointer;
  transition: all 500ms;

  &:hover {
    opacity: 0.8;
  }
}

.mb-1 {
  margin-bottom: 1.25rem;
}
.mt-1 {
  margin-top: 1.25rem;
}
